/module-10-lesson-01/node_modules/
/module-10-lesson-01/.parcel-cache/
/module-08-lesson-01/node_modules/
/module-08-lesson-01/.parcel-cache/
/module-08-lesson-01/dist/
/module-10-lesson-01/dist/
/module-10-lesson-02/node_modules/
/module-10-lesson-02/dist/
/module-10-lesson-02/.parcel-cache/
/module-10-lesson-02/.cache/
/.idea/
